<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">

            <input 
            type="search"
            aria-label="Search"
            id="searchinput"
            name="searchTerm"
            placeholder="Search The Site..."
            />
        </form>
    </div>
</div>